@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    background-color: #00AFB9; /* teal background */
    border: none; /* Remove borders */
    padding: 12px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon on hover */
    border-radius: 8px; /* Rounded corners */
    color: white; /* White text */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}
button:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
}
