.grid-container {
    width: 98%;
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: 2rem;
}
.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    padding: .5em;
}
.span-row {
    grid-row: auto / span 2;
    border-radius: 1%;
}
.span-col {
    grid-column: auto / span 2;
}

select {
    width: 80%;
    height: 35%;
    cursor: pointer; /* Pointer/hand icon */
}

/* Add focus effect */
select:focus {
    box-shadow: 0 0 0.3em rgba(0,0,0,0); /* Glow effect */
    outline: none; /* Remove default outline */
}

label {
    font-size: 1.3rem; /* Label font size */
    display: block; /* Force label to appear above select */
}

button {
    font-size: 1.3rem;
    width: 40%;
    height: 40%;
}

@media screen and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; /* Stack containers vertically */
        font-size: .7em;
    }
    .form-container {
        width: 100%
    }
    select {
        font-size: 1em;
    }
    .round-container {
        width: 100%
    }
    button {
        font-size: 1rem;
        width: 40%;
        height: 30%;
    }
}
