.image-container {
    display: flex;
    justify-content: center;
}

.image-container a {
    margin: 5px; /* Add some space between images */
    max-width: 17%; /* Set a maximum width for the images */
    height: auto; /* Maintain original height */
    object-fit: contain; /* Ensure aspect ratio is maintained */
    border: 2px solid white; /* Add black border around each image */
    transition: filter 0.3s ease; /* Smooth transition for border color */
}

.image-container img:hover {
    filter: brightness(70%); /* Remove grayscale on hover */
}

